<div class="container" >
  <div class="row" >

        <div class="col-md-6">

                <div class="card">
                      <div class="text-center" >
                        <h1>Student login</h1>
                        <strong>login anytime!</strong><hr>
                      </div>

                      <form [formGroup]="loginform" (ngSubmit)="login()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input type="email" for class="form-control" formControlName="email" id="exampleInputEmail1" placeholder="email" aria-describedby="emailHelp">
                          <small *ngIf="loginform.get('email')?.invalid && loginform.get('email')?.touched " class="text-danger">Email is Required</small>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" formControlName="password" placeholder="password" id="exampleInputPassword1">
                          <small *ngIf="loginform.get('password')?.invalid && loginform.get('password')?.touched " class="text-danger">Password is Required</small>
                        </div>

                        <button type="submit" [disabled]="loginform.invalid" class="btn btn-primary">Login</button>
                      </form>
                      <a style="color: blue; margin-top: 10px;" routerLink="/signup">New user? click to signup</a>

                </div>
        </div>


  </div>
</div>
